#map { height: 750px; }

body {
  min-height: 800px;
  padding-top: 70px;
}

.navbar{
background-color: #146210;
/*background-color: #dfc463; 
background-color: #dfd5b3;  #dfc463  #146210  #458f40*/

}

.navbar-header a
{
  color: white;
}

#navbar-brand a
{
  color: white;
}
.titlething a{
color: white;
}

h1{
font-size: 50px;
}

.jumbotron{
  background-color: #dfc463;
}

.jumbotron h1{
font-size: 40px;
padding: 10px;
margin: 0 auto;
}

.jumbotron p{
  padding: 10px;
  margin: 0px;

}

#stPats{
  right: 30px;
  position: absolute;
}


.img featurette-image img-responsive center-block{

  height: 200px;

}