.jumbotron{
  background-color: #dfc463;
  height: 420px;
  padding: 10px;
}
#search_bars{

}

#building_search{


}

#startSearch{
  margin: 0px;

}
#schedule-results
{
  background-color: white;
  border-radius: 5px ;
  border: 2px solid #dfc463;
  

}

#room_search{
  float: center;
} 

#filters{



}
#filters td{
  padding : 50px;
}
#query_searches{

}
#query_searches li{

  list-style-type: none;
   display: inline;
   padding : 20px;
}