body {
  min-height: 2000px;
  padding-top: 70px;
}
.navbar{
background-color: #146210;
/*background-color: #dfc463; 
background-color: #dfd5b3;  #dfc463  #146210  #458f40*/
color: white;
}
h1{
font-size: 50px;
}
.jumbotron{
  background-color: #dfc463;
}
.jumbotron h1{
font-size: 40px;
padding: 0px;
margin: 0 auto;
}
.jumbotron p{
  padding: 0px;
  margin: 0px;

}
